@model List<Cucina_De_Corazon.Models.Feedback>

@{
    ViewData["Title"] = "Feedbacks";
}

<div class="container mt-5">
    <div class="card shadow border-0 rounded-4 p-4">
        <h2 class="text-orange fw-bold mb-4">Customer Feedback</h2>

        @if (!Model.Any())
        {
            <div class="alert alert-info text-center rounded-3">
                No feedbacks have been submitted yet.
            </div>
        }
        else
        {
            <table class="table table-bordered">
                <thead class="bg-orange text-white" style="position: sticky; top: 0; z-index: 1; border-collapse: separate; border-spacing: 0px ;border: 1px solid black; border-radius: 5px;">
                    <tr class="text-center text-white">
                        <th style="width: 70%;">Message</th>
                        <th style="width: 30%;">Date Submitted</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    @foreach (var feedback in Model)
                    {
                        <tr>
                            <td class="text-break">@feedback.Message</td>
                            <td class="text-center">
                                @feedback.SubmittedAt.ToString("MMMM dd, yyyy hh:mm tt")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        }
    </div>
</div>
