@model List<Cucina_De_Corazon.Models.Bill>
@{
    ViewData["Title"] = "Bills";
}

<div class="container mt-5">
    <div class="card shadow border-0 rounded-4 p-4">
    <h2 class="text-center mb-4 fw-bold">Records</h2>

    @if (!Model.Any())
    {
        <div class="alert alert-info text-center rounded-3">No Records found.</div>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="bg-orange text-white" style="position: sticky; top: 0; z-index: 1; border-collapse: separate; border-spacing: 0px ;border: 1px solid black; border-radius: 5px;">
                    <tr class="text-white">
                        <th>Date</th>
                        <th>Ordered by</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bill in Model)
                    {
                        <tr>
                            <td class="fw-semibold">@bill.Orders.First().ReservedDate.Value.ToString("yyyy-MM-dd")</td>
                            <td>@bill.Person.FullName</td>
                            <td>₱@bill.Total.ToString("N2")</td>
                            <td>@bill.Status</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@bill.BillId"
                                   class="btn btn-warning btn-sm text-white fw-bold">
                                    View Details
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    </div>
</div>
